
dist/
build/
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
*.conda
.env
.venv
environment.yml
notebooks/
tests/
reports/
documents/
*.ipynb
mlruns/
.vscode/
*.md
catboost_info/
.pytest_cache/
*.log
.DS_Store
images/
*.png