__pycache__/
*.pyc
flight_predictor.egg-info/


settings.json
/documents
testttts.ipynb
/notebooks/05_testnotebook.ipynb
/catboost_info
/reports/figures
.ruff_cache
pip-packages
.pytest_cache
*.joblib

/logs